@model Swift_Tomes_Accounting.Models.ViewModels.AccountLedger

@{
    double current_balance = Model.account.Initial;
    int original_length = 0;
    if (ViewBag.Counter != null)
    {
        original_length = ViewBag.Counter;
    }
}

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>


<h2 class="text-center">@Model.account.AccountName</h2>

<br />

<div class="form-group row w-75 justify-content-start" style="position:absolute;top:180px;padding-left:5%">

    <form asp-controller="Manager" asp-action="AccountLedger" method="post">
        <input style="width:150px" name="DateSearch1" value="@ViewBag.Search1" placeholder="Begin Date:" onfocus="(this.type='date')" onblur="(this.type='text')" />
        <label> - </label>
        <input style="width:150px" name="DateSearch2" value="@ViewBag.Search2" placeholder="End Date:" onfocus="(this.type='date')" onblur="(this.type='text')" />
        <input type="hidden" name="LedgerID" value="@Model.account.AccountNumber" />
        <input type="submit" value="Filter" data-toggle="tooltip" data-placement="bottom" title="Filter the Chart of Accounts Data with a Date Range or Balance Search" />

    </form>
    <div>&nbsp;</div>
    <form asp-controller="Manager" asp-action="AccountLedger" method="get">
        <input type="submit" value="Reset" data-toggle="tooltip" data-placement="bottom" title="Reset the Filtered Data">

    </form>

</div>


@if (original_length > Model.journal_accounts.Count())
{
    <div class="p-4 border w-100">

        <table class="table table-striped border" id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Entry Date
                    </th>
                    <th>
                        Entry Type
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Post Reference
                    </th>
                    <th>
                        Initial Balance
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>
                        Credit
                    </th>
                    <th>
                        Total Balance
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model.journal_accounts)
            {
                @if (item.AccountName1 == Model.account.AccountName && item.IsRejected == false)
                {
                    current_balance += item.Debit;
                    <tr>
                        <td>
                            @item.CreatedOn
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @Html.ActionLink(@item.JournalId.ToString(), "PostRef", "Manager", new { id = item.JournalId }, null)
                        </td>
                        <td>
                        </td>
                        <td style="text-align:right">
                            @item.Debit.ToString("C")
                        </td>
                        <td>
                        </td>
                        <td style="text-align:right">
                            @current_balance.ToString("C")
                        </td>
                    </tr>
                }
                @if (item.AccountName2 == Model.account.AccountName && item.IsRejected == false)
                {
                    current_balance -= item.Credit;
                    <tr>
                        <td>
                            @item.CreatedOn
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @Html.ActionLink(@item.JournalId.ToString(), "PostRef", "Manager", new { id = item.JournalId }, null)
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="text-align:right">
                            @item.Credit.ToString("C")
                        </td>
                        <td style="text-align:right">
                            @current_balance.ToString("C")
                        </td>
                    </tr>
                }

            }
        </table>
    </div>
}
else
{
    <div class="p-4 border w-100">

        <table class="table table-striped border" id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Entry Date
                    </th>
                    <th>
                        Entry Type
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Post Reference
                    </th>
                    <th>
                        Initial Balance
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>
                        Credit
                    </th>
                    <th>
                        Total Balance
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Model.account.CreatedOn
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="text-align:right">
                    @Model.account.Initial.ToString("C")
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="text-align:right">
                    @current_balance.ToString("C")
                </td>
            </tr>
            @foreach (var item in Model.journal_accounts)
            {
                @if (item.AccountName1 == Model.account.AccountName && item.IsRejected == false)
                {
                    current_balance += item.Debit;
                    <tr>
                        <td>
                            @item.CreatedOn
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @Html.ActionLink(@item.JournalId.ToString(), "PostRef", "Manager", new { id = item.JournalId }, null)
                        </td>
                        <td>
                        </td>
                        <td style="text-align:right">
                            @item.Debit.ToString("C")
                        </td>
                        <td>
                        </td>
                        <td style="text-align:right">
                            @current_balance.ToString("C")
                        </td>
                    </tr>
                }
                @if (item.AccountName2 == Model.account.AccountName && item.IsRejected == false)
                {
                    current_balance -= item.Credit;
                    <tr>
                        <td>
                            @item.CreatedOn
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @Html.ActionLink(@item.JournalId.ToString(), "PostRef", "Manager", new { id = item.JournalId }, null)
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td style="text-align:right">
                            @item.Credit.ToString("C")
                        </td>
                        <td style="text-align:right">
                            @current_balance.ToString("C")
                        </td>
                    </tr>
                }

            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                 <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="text-align:right">
                    @Model.account.Balance.ToString("C")
                </td>
            </tr>


        </table>
    </div>
}

<br />
<div class="form-group row col-lg-4 mx-auto">
    <a asp-action="ChartOfAccounts" asp-controller="Manager" class="btn btn-success">Go to Chart of Accounts</a>
    &nbsp;&nbsp;
    <a asp-action="JournalIndex" asp-controller="Manager" class="btn btn-warning">Go to Journal</a>
</div>
<br />





<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="Manager" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="ChartOfAccounts" class="btn btn-info btn-outline-light">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="JournalIndex" class="btn btn-dark btn-outline-info">Journalize</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="IncomeStatement" class="btn btn-dark btn-outline-info">Income Statement</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="TrialBalance" class="btn btn-dark btn-outline-info">Trial Balance</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="BalanceSheet" class="btn btn-dark btn-outline-info">Balance Sheet</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="RetainedEarnings" class="btn btn-dark btn-outline-info">Retained Earnings</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="PostTrialBalance" class="btn btn-dark btn-outline-info">Closing Trial Balance</a>
        </li>

    </ul>
</div>



