@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.Journal_Accounts>
@{ 
    var arraylist = Model.ToArray();
}
<br />
<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="Manager" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="Report" class="btn btn-dark btn-outline-info">Reports</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="JournalIndex" class="btn btn-info btn-outline-light">Journalize</a>
        </li>
        <li>
            <a asp-controller="Manager" asp-action="Pending" class="btn btn-dark btn-outline-info">Pending Entries</a>
        </li>
    </ul>
</div>


<div class="justify-content-start">
    <a asp-controller="Manager" asp-action="Journalize" class="btn btn-dark btn-outline-info text-white"
       data-toggle="tooltip" data-placement="bottom" title="Add a New Journal Entry to the System">
        Add Entry
    </a>
</div>


<div class="container-fluid">
    <table class="table table-striped border">
        <thead class="thead-dark">
            <tr>
                <th>
                    Date Created
                </th>
                <th>
                    Account
                </th>
                <th>
                    Ref
                </th>
                <th>
                    Debit
                </th>
                <th>
                    Credit
                </th>
                <th>
                    Approval
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < arraylist.Length; i++)
            {
                var counter = 0;
                var multipleDebit = false;
                <tr>
                    <td>
                        @arraylist[i].CreatedOn
                    </td>                   
                    <td>
                        @arraylist[i].AccountName1
                        @{
                            for (int index = i; index < arraylist.Length - 1; index++)
                            {
                                if (arraylist[index + 1].JournalId == arraylist[i].JournalId && arraylist[index + 1].Credit == 0)
                                {
                                    multipleDebit = true;
                                    <br />
                                    counter++;
                                    @arraylist[index + 1].AccountName1
                                }
                            }
                        }
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp; @arraylist[i].AccountName2
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @{
                            for (int index = i; index < arraylist.Length - 1; index++)
                            {
                                if (arraylist[index + 1].JournalId == arraylist[i].JournalId && arraylist[index + 1].Debit == 0)
                                {
                                    
                                    @arraylist[index + 1].AccountName2
                                    <br />
                                }
                            }
                        }
                    </td>
                    <td>
                        @arraylist[i].JournalId
                    </td>
                    <td>
                        @arraylist[i].Debit
                        @{ 
                            for(int index = i; index < arraylist.Length-1; index++)
                            {
                                if(arraylist[index+1].JournalId == arraylist[i].JournalId && arraylist[index+1].Credit == 0)
                                {
                                    <br />
                                    @arraylist[index+1].Debit
                                    
                                }
                            }
                            
                        }
                    </td>
                    <td>
                        @if (multipleDebit)
                        {
                            @for (int j = 0; j < counter; j++)
                            {
                                <br />
                            }
                            <br />
                            @arraylist[i].Credit
                        }
                        else
                        {
                            <br />
                            @arraylist[i].Credit
                            @for (int index = i; index < arraylist.Length - 1; index++)
                            {
                                if (arraylist[index + 1].JournalId == arraylist[i].JournalId && arraylist[index + 1].Debit == 0)
                                {
                                    counter++;
                                    <br />
                                    @arraylist[index + 1].Credit

                                }
                            }
                        }


                    </td>
                   
                    @if (i < arraylist.Length && arraylist[i].IsApproved == false)
                    {
                        <td>
                            Pending
                        </td>

                    }
                    else
                    {
                        <td>
                            Approved
                        </td>
                    }
                </tr>
                i += counter;
             }
        </tbody>
    </table>
</div>