@model Swift_Tomes_Accounting.Models.ViewModels.EventModel
    <head>
        <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>
    </head>

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Report" class="btn btn-dark btn-outline-info">Reports</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Journalize" class="btn btn-dark btn-outline-info">Journalize</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-info btn-outline-light">Event Log</a>
        </li>
    </ul>
</div>



@{
    List<DateTime> eventTime = new List<DateTime>();
    foreach (var item in Model.EventUser)
    {
        eventTime.Add(item.eventTime);
    }
    foreach (var item in Model.EventAccount)
    {
        eventTime.Add(item.eventTime);
    }
    //Add both list datetimes to this list then sort
    eventTime.Sort((x, y) => DateTime.Compare(y, x));
}

<div class="w-100">
    <table class="table table-striped" id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true">

        <thead class="thead-dark">
            <tr>
                <th>
                    Event ID
                </th>
                <th>
                    Event Type
                </th>
                <th>
                    Field
                </th>
                <th>
                    Before
                </th>
                <th>
                    After
                </th>
                <th>
                    Performed By
                </th>
                <th>
                    Date of Event
                </th>
            </tr>
        </thead>

        @foreach (var time in eventTime)
        {
            foreach (var user in Model.EventUser)
            {
                @if (time == user.eventTime)
                {
                    <tr>
                        <td style="width:100px">
                            User-@user.eventID.ToString("000")
                        </td>
                        <td>
                            @user.eventType
                        </td>
                        <td style="width:100px">
                            First Name:<br />
                            Last Name:<br />
                            Username:<br />
                            Date of Birth:<br />
                            Role:<br />
                            Is Active? <br />
                            Address:<br />

                        </td>
                        <td style="width:150px">
                            @user.BeforeFname<br />
                            @user.BeforeLname<br />
                            @user.BeforeuserName<br />
                            @user.BeforeDOB<br />
                            @user.BeforeRole<br />
                            @if (user.BeforeisActive == false)
                            {
                                <div>Not Active</div>
                            }
                            else
                            {
                                <div>Active</div>
                            }

                            @user.BeforeAddress<br />

                        </td>
                        <td style="width:150px">
                            @user.AfterFname<br />
                            @user.AfterLname<br />
                            @user.AfteruserName<br />
                            @user.AfterDOB<br />
                            @user.AfterRole<br />
                            @if (user.AfterisActive == false)
                            {
                                <div>Not Active</div>
                            }
                            else
                            {
                                <div>Active</div>
                            }
                            @user.AfterAddress<br />
                        </td>
                        <td style="width:150px">
                            @user.eventPerformedBy
                        </td>
                        <td>
                            @user.eventTime
                        </td>

                    </tr>

                }
            }
            foreach (var account in Model.EventAccount)
            {
                @if (time == account.eventTime)
                {
                    <tr>
                        <td style="width:100px">
                            Account-@account.eventID.ToString("000")
                        </td>
                        <td>
                            @account.eventType
                        </td>
                        <td style="width:200px">
                            Account Number:<br />
                            Account Name:<br />
                            Description:<br />
                            Category:<br />
                            Subcategory:<br />
                            Balance:<br />
                            Comments:<br />
                            Is Active?<br />
                            Is Contra?<br />
                        </td>
                        <td>
                            @if (account.BeforeAccountNumber == -1)
                            {
                                <div>None</div>
                            }
                            else
                            {
                                @account.BeforeAccountNumber<br />
                            }

                            @account.BeforeAccountName<br />
                            @account.BeforeDescription<br />
                            @account.BeforeCategory<br />
                            @account.BeforeSubCategory<br />
                            @if (account.BeforeBalance == -1)
                            {
                                <div>None</div>
                            }
                            else
                            {
                                @account.BeforeBalance<br />
                            }
                            @account.BeforeComments<br />
                            @if (account.BeforeisActive == false)
                            {
                                <div>Not Active</div>
                            }
                            else
                            {
                                <div>Active</div>
                            }
                            @account.BeforeisContra<br />
                        </td>
                        <td>
                            @account.AfterAccountNumber<br />
                            @account.AfterAccountName<br />
                            @account.AfterDescription<br />
                            @account.AfterCategory<br />
                            @account.AfterSubCategory<br />
                            @account.AfterBalance<br />
                            @account.AfterComments<br />
                            @if (account.AfterisActive == false)
                            {
                                <div>Not Active</div>
                            }
                            else
                            {
                                <div>Active</div>
                            }
                            @account.AfterisContra<br />
                        </td>
                        <td>
                            @account.eventPerformedBy
                        </td>
                        <td>
                            @account.eventTime
                        </td>

                    </tr>
                }

            }
        }

    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            select: true
        });
    });
</script>

