@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>


<br />
<h2 class="text-center">Expired Password List</h2>
<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-info btn-outline-light">User Management</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="Accounts" class="btn btn-dark btn-outline-info">Account List</a>
        </li>       
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>
<br/>
<div class="text-center" style="margin:0 auto">
    <a onclick="history.go(-1);" class="btn btn-primary w-10 text-white">Go Back</a>
</div>
<br/>
<div class="p-4 border rounded">
    
        <table class="table table-striped border">
            <thead class="thead-dark">
                <tr class="table-secondary">

                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Date Expired
                    </th>
                </tr>
            </thead>
            
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.FirstName  @user.LastName
                    </td>
                    <td>
                        @user.Role
                    </td>
                    <td>
                        @user.PasswordDate
                    </td>


                </tr>
            }
        </table>
    
</div>

<br />