@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>
<br />
<h2 class="text-center">Unapproved User List</h2>
<hr />
<div class="p-4 border rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">

                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                @if (item.isApproved == false)
                {


        <tr>
            <td>
                @item.Email
            </td>
            <td>
                @item.FirstName  @item.LastName
            </td>
            <td>
                @item.Role
            </td>

            <td>
                <div class="text-center">
                    <form asp-action="Delete" asp-route-userId="@item.Id">

                        <a asp-action="AssignRole" asp-route-userId="@item.Id" class="btn btn-warning text-black" style="cursor:pointer">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Assign Role
                        </a>
                        <button onclick="return confirm('Are you sure you want to reject this user?')"
                                class="btn btn-danger">
                            <i class="fa fa-times" aria-hidden="true"></i>

                            Deny
                        </button>
                        <button asp-action="Approve" asp-route-userId="@item.Id" class="btn btn-success"
                                style="cursor:pointer">
                            <span>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Approve
                            </span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
                }
            }
        </table>
    }
</div>
<br />
<br />
<br />
<form asp-action="GoBack" asp-controller="Admin">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-warning">Done</button>
            </div>
        </div>
    </div>
</form>