@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>
<br />
<div>
    <div class="col-6">
        <h2 class="text-primary">Unapproved User List</h2>

    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">

                <th>
                    Email
                </th>
                <th>
                    Name
                </th>

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.FirstName  @item.LastName
                    </td>

                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-userId="@item.Id">
                                @*<a asp-action="Edit" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                    Edit
                                </a>*@


                                    @*<button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-success text-white"
                                            style="cursor:pointer">
                                        <span>&nbsp; Lock &nbsp;</span>
                                    </button>*@

                                    <button  class="btn btn-info text-white"
                                            style="cursor:pointer">
                                        <span> Accept </span>
                                    </button>
    

                                <button  onclick="return confirm('Are you sure you want to reject this user?')"
                                        class="btn btn-danger">
                                    Reject
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>