@model Swift_Tomes_Accounting.Models.ViewModels.AccountDB

@{
    ViewData["Title"] = "AccountLedger";
}

<h2 class="text-center">@Model.AccountName</h2>

<div class="p-4 rounded w-100">
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Debit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Credit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Debit)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Credit)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Comments)
                </th>
            </tr>

        </tbody>
    </table>

</div>


<div class="text-center">
    @Html.ActionLink("View Account's Event Log", "AcctEventLog", "Money", new { id = Model.AccountNumber }, null)
</div>
<br />
<div class="text-center">
    <a asp-action="ChartOfAccounts" class="btn btn-success w-10">Go Back</a>
</div>

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="ChartOfAccounts" class="btn btn-info btn-outline-light">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Report" class="btn btn-dark btn-outline-info">Reports</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="JournalIndex" class="btn btn-dark btn-outline-info">Journalize</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>



