@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.AccountDB>


   
    <br />
    <div class="sidebar-container border-dark">
        <div>
            <br />
            <div class="text-center border-info">Quick Actions</div>
            <br />
        </div>

        <ul class="sidebar-navigation">
            <li>
                <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Send" class="btn btn-info btn-outline-light">Send Message </a>
            </li>
            <li>
                <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
            </li>
            <li>
                <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
            </li>
            <li>
                <a a asp-controller="Roles" asp-action="Index" class="btn btn-dark btn-outline-info">Roles List</a>
            </li>
            <li>
                <a asp-controller="expiredpass" asp-action="Index" class="btn btn-dark btn-outline-info">Expired Passwords List</a>
            </li>
            <li>
                <a asp-controller="Money" asp-action="ChartsOfAccounts" class="btn btn-dark btn-outline-info">Charts of Accounts</a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">

        <center><h1>Charts Of Accounts</h1></center>

        <p>
            <a asp-controller="Money" asp-action="CreateAccount" class="btn btn-dark btn-outline-info text-white">Add Account</a>
        </p>
        <form asp-controller="Money" asp-action="ChartsOfAccounts" method="post">
            <p>
                <input type="text" name="SearchString" asp-items=ViewBag.result />
                <input type="submit" value="Filter" />

            </p>
        </form>
        <form asp-controller="Money" asp-action="ChartsOfAccounts" method="get">
            <p>
                <input type="submit" value="Reset">
            </p>
        </form>


                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubCategory)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Comments)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="4">
                                No Records match search criteria
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubCategory)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Balance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comments)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    }

                </table>
    </div>
   
    <style>
        .sidebar-container {
            position: absolute;
            width: 250px;
            height: 95%;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            background: #343a40;
            color: #fff;
            top: 57px;
            border-style: solid;
        }

        .content-container {
            padding-top: 20px;
        }

        .sidebar-logo {
            padding: 10px 15px 10px 30px;
            font-size: 20px;
            background-color: #2574A9;
        }

        .sidebar-navigation {
            padding: 0;
            margin: 0;
            list-style-type: none;
            position: relative;
        }

            .sidebar-navigation li {
                background-color: transparent;
                position: relative;
                display: inline-block;
                width: 100%;
                line-height: 20px;
            }

                .sidebar-navigation li a {
                    padding: 10px 15px 10px 30px;
                    display: block;
                    color: #fff;
                }

                .sidebar-navigation li .fa {
                    margin-right: 10px;
                }

                .sidebar-navigation li a:active,
                .sidebar-navigation li a:hover,
                .sidebar-navigation li a:focus {
                    text-decoration: none;
                    outline: none;
                }

                .sidebar-navigation li::before {
                    background-color: #2574A9;
                    position: absolute;
                    content: '';
                    height: 100%;
                    left: 0;
                    top: 0;
                    -webkit-transition: width 0.2s ease-in;
                    transition: width 0.2s ease-in;
                    width: 3px;
                    z-index: -1;
                }

                .sidebar-navigation li:hover::before {
                    width: 100%;
                }

            .sidebar-navigation .header {
                font-size: 12px;
                text-transform: uppercase;
                background-color: #151515;
                padding: 10px 15px 10px 30px;
            }

                .sidebar-navigation .header::before {
                    background-color: transparent;
                }

        .content-container {
            padding-left: 220px;
        }
    </style>