@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.AccountDB>
@{
    ViewData["Title"] = "ChartOfAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>




<br />
<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="ChartOfAccounts" class="btn btn-info btn-outline-light">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Report" class="btn btn-dark btn-outline-info">Reports</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Journalize" class="btn btn-dark btn-outline-info">Journalize</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>
<div class="text-center" style="margin-left:50px">
    <h1>Chart Of Accounts</h1>
    <br />
    <br />
    <div class="form-group row">
        <p style="margin-left:100px">
            <a asp-controller="Money" asp-action="CreateAccount" class="btn btn-dark btn-outline-info text-white"
               data-toggle="tooltip" data-placement="bottom" title="Add a New Account to the System">
                Add Account
            </a>
        </p>

        <form asp-controller="Money" asp-action="ChartOfAccounts" method="post" style="margin-left:525px">
            <p>
                <label>$</label>
                <input type="text" name="BalanceSearch1" value="@ViewBag.result" />
                <label> - $</label>
                <input type="text" name="BalanceSearch2" value="@ViewBag.result" />
                &nbsp;&nbsp;
                <input type="date" name="DateSearch1" value="@ViewBag.result" />
                <label> - </label>
                <input type="date" name="DateSearch2" value="@ViewBag.result" />
                &nbsp;&nbsp;
                <input type="submit" value="Filter" data-toggle="tooltip" data-placement="bottom" title="Filter the Chart of Accounts Data
                       with a Date Range or Balance Search" />
            </p>
        </form>
        &nbsp;&nbsp;
        <form asp-controller="Money" asp-action="ChartOfAccounts" method="get" style="margin-left:960px">
            <p>
                <input type="submit" value="Reset" data-toggle="tooltip" data-placement="bottom" title="Reset the Filtered Data">
            </p>
        </form>
    </div>

</div>

<div class="container-fluid" style="width: 1250px; margin-left: 75px">
    <table class="table" id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
        <thead>
            <tr>
                <th data-field="accountNumber" data-sortable="true">
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th data-field="accountName" data-sortable="true">
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th data-field="category" data-sortable="true">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th data-field="subCategory" data-sortable="true">
                    @Html.DisplayNameFor(model => model.SubCategory)
                </th>


                <th data-field="balance" data-sortable="true">
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th data-field="createdOn" data-sortable="true">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th data-field="userName" data-sortable="true">
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Activate
                </th>

            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No Records match search criteria
                </td>
            </tr>
        }
        else
        {
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(Convert.ToString(item.AccountNumber), "AccountLedger", "Money", new { id = item.AccountNumber }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>

                    <td>
                     <a asp-action="EditAccount" asp-route-id="@item.AccountNumber">Edit</a>
                    @*@Html.ActionLink("Edit", "EditAccount", new { /* id=item.PrimaryKey */ })*@
                    </td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Activate" asp-route-id="@item.AccountNumber">

                                @if (item.Active == true)
                                {
                                    @*<a asp-action="Edit" asp-route-id="@item.AccountNumber" class="btn btn-info text-white" style="cursor:pointer">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit
                        </a>*@
                                    //We want to show them the option to deactivate
                                    <button asp-action="Activate" asp-route-id="@item.AccountNumber" class="btn btn-success text-black"
                                            style="cursor:pointer">
                                        <span>
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                            Deactivate
                                        </span>
                                    </button>
                                }
                                else if (item.Active == false)
                                {
                                    //We want to show them the option to activate
                                    <button asp-action="Activate" asp-route-id="@item.AccountNumber" class="btn btn-warning text-black"
                                            style="cursor:pointer">
                                        <span>
                                            <i class="fa fa-unlock" aria-hidden="true"></i>
                                            Activate
                                        </span>
                                    </button>
                                }


                            </form>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>