@model IEnumerable<Swift_Tomes_Accounting.Models.ViewModels.ApplicationUser>

<br />
<h2 class="text-center" style="margin-left:50px">User List</h2>

<div class="sidebar-container border-dark">
    <div>
        <br />
        <div class="text-center border-info">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
        </li>
        <li>
            <a asp-controller="UnapprovedUsers" asp-action="Index" class="btn btn-dark btn-outline-info">Pending Approval</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-info btn-outline-light">Users List</a>
        </li>
        <li>
            <a a asp-controller="Roles" asp-action="Index" class="btn btn-dark btn-outline-info">Roles List</a>
        </li>
        <li>
            <a asp-controller="expiredpass" asp-action="Index" class="btn btn-dark btn-outline-info">Expired Passwords List</a>
        </li>
        <li>
            <a asp-controller="Money" asp-action="ChartOfAccounts" class="btn btn-dark btn-outline-info">Chart of Accounts</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="EventLog" class="btn btn-dark btn-outline-info">Event Log</a>
        </li>
    </ul>
</div>
<div class="p-4 border rounded" style="width: 900px; margin-left:175px;">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">

                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                @if (item.isApproved)
                {
                    <tr>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.FirstName  @item.LastName
                        </td>
                        <td>
                            @item.Role
                        </td>

                        <td>
                            <div class="text-center">
                                <form asp-action="Delete" asp-route-userId="@item.Id">

                                    @if (item.isApproved == true && item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                    {
                                        <a asp-action="Edit" asp-route-userId="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                            Edit
                                        </a>
                                        //We want to show them the option to lock
                                        <button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-success text-black"
                                                style="cursor:pointer">
                                            <span>
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                                Lock
                                            </span>
                                        </button>
                                    }
                                    else if (item.isApproved == true)
                                    {
                                        //We want to show them the option to unlock
                                        <button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-warning text-black"
                                                style="cursor:pointer">
                                            <span>
                                                <i class="fa fa-unlock" aria-hidden="true"></i>
                                                Unlock
                                            </span>
                                        </button>
                                    }




                                </form>
                            </div>
                        </td>
                    </tr>
                }

            }
        </table>
    }

</div>



